<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2137"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
      &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" resource-id="com.skyairline:id/action_bar_root" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
        &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
             &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
              &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true" /&gt; <br/>
              &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                 &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                  &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                   &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true" /&gt; <br/>
                   &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                    &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                      &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                       &lt;android.widget.horizontalscrollview index="0" package="com.skyairline" class="android.widget.HorizontalScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                         &lt;android.widget.imageview index="12" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true" /&gt; <br/>
                         &lt;android.widget.textview index="13" package="com.skyairline" class="android.widget.TextView" text="Ubicación" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[312,1586][769,1691]" displayed="true" /&gt; <br/>
                         &lt;android.widget.textview index="14" package="com.skyairline" class="android.widget.TextView" text="Comparte tu ubicación y cargaremos los aeropuertos para hacer tu búsqueda más fácil" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1721][1080,1827]" displayed="true" /&gt; <br/>
                         &lt;android.view.viewgroup index="15" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1977][1080,2137]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="onBoardingContinueButton" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,1977][810,2117]" displayed="true"&gt; <br/>
                           &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Siguiente" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[450,2018][631,2077]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                       &lt;/android.widget.horizontalscrollview&gt; <br/>
                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1900][1080,1952]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[457,1909][485,1943]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[457,1909][485,1943]" displayed="true"&gt; <br/>
                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[457,1909][485,1943]" displayed="true" /&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                        &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[503,1909][531,1943]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[503,1909][531,1943]" displayed="true"&gt; <br/>
                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[503,1909][531,1943]" displayed="true" /&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                        &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[549,1909][577,1943]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[549,1909][577,1943]" displayed="true"&gt; <br/>
                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[549,1909][577,1943]" displayed="true" /&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                        &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[595,1909][623,1943]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[595,1909][623,1943]" displayed="true"&gt; <br/>
                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[595,1909][623,1943]" displayed="true" /&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                      &lt;/android.view.viewgroup&gt; <br/>
                     &lt;/android.view.viewgroup&gt; <br/>
                    &lt;/android.view.viewgroup&gt; <br/>
                   &lt;/android.view.viewgroup&gt; <br/>
                  &lt;/android.view.viewgroup&gt; <br/>
                 &lt;/android.view.viewgroup&gt; <br/>
                &lt;/android.view.viewgroup&gt; <br/>
               &lt;/android.view.viewgroup&gt; <br/>
              &lt;/android.view.viewgroup&gt; <br/>
             &lt;/android.view.viewgroup&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.framelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.linearlayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>