<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2186"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2186]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2186]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
      &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" resource-id="com.skyairline:id/action_bar_root" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
        &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
             &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
              &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                 &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                  &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                   &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                    &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                      &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,2186]" displayed="true"&gt; <br/>
                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,93][1080,224]" displayed="true"&gt; <br/>
                        &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[458,115][620,176]" displayed="true" /&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,224][1080,2186]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,224][1080,296]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="INGRESAR" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[26,224][540,296]" displayed="true"&gt; <br/>
                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Ingresar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[26,224][540,280]" displayed="true" /&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                         &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="REGISTRARSE" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,224][1054,296]" displayed="true"&gt; <br/>
                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Registrarse" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,224][1054,280]" displayed="true" /&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                        &lt;android.widget.framelayout index="1" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                         &lt;androidx.viewpager.widget.viewpager index="0" package="com.skyairline" class="androidx.viewpager.widget.ViewPager" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                          &lt;androidx.recyclerview.widget.recyclerview index="0" package="com.skyairline" class="androidx.recyclerview.widget.RecyclerView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                           &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                             &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                              &lt;android.widget.scrollview index="0" package="com.skyairline" class="android.widget.ScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,296][1080,2186]" displayed="true"&gt; <br/>
                               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[79,296][1001,1430]" displayed="true"&gt; <br/>
                                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[79,296][1001,614]" displayed="true"&gt; <br/>
                                 &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="loginGoogle" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[79,349][1001,464]" displayed="true"&gt; <br/>
                                  &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,352][193,462]" displayed="true"&gt; <br/>
                                   &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[110,380][165,435]" displayed="true" /&gt; <br/>
                                  &lt;/android.view.viewgroup&gt; <br/>
                                  &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Iniciar sesión con Google" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[218,379][999,435]" displayed="true" /&gt; <br/>
                                 &lt;/android.view.viewgroup&gt; <br/>
                                 &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="loginFacebook" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[79,493][1001,614]" displayed="true"&gt; <br/>
                                  &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[108,522][171,585]" displayed="true" /&gt; <br/>
                                  &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Iniciar sesión con Facebook" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[223,526][999,582]" displayed="true" /&gt; <br/>
                                 &lt;/android.view.viewgroup&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[79,666][1001,815]" displayed="true"&gt; <br/>
                                 &lt;android.widget.edittext index="0" package="com.skyairline" class="android.widget.EditText" text="ahernandez@acid.cl" content-desc="loginEmailInput" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[113,669][967,813]" displayed="true" /&gt; <br/>
                                 &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Email" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[124,695][225,751]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[79,842][1001,991]" displayed="true"&gt; <br/>
                                 &lt;android.widget.edittext index="0" package="com.skyairline" class="android.widget.EditText" text="••••••••" content-desc="loginPasswordInput" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="true" scrollable="false" selected="false" bounds="[113,845][967,989]" displayed="true" /&gt; <br/>
                                 &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Contraseña" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[124,871][333,927]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="INICIAR SESIÓN" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[210,1043][870,1174]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Iniciar Sesión" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[400,1077][681,1140]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="loginForgotPassword" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[307,1227][773,1299]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="¿Olvidaste tu contraseña?" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[307,1227][773,1283]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.widget.textview index="5" package="com.skyairline" class="android.widget.TextView" text="o puedes ingresar como " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[244,1362][692,1418]" displayed="true" /&gt; <br/>
                                &lt;android.view.viewgroup index="6" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="loginGuest" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[692,1351][836,1430]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="invitado" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[692,1362][836,1418]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                               &lt;/android.view.viewgroup&gt; <br/>
                              &lt;/android.widget.scrollview&gt; <br/>
                             &lt;/android.view.viewgroup&gt; <br/>
                            &lt;/android.view.viewgroup&gt; <br/>
                           &lt;/android.widget.framelayout&gt; <br/>
                          &lt;/androidx.recyclerview.widget.recyclerview&gt; <br/>
                         &lt;/androidx.viewpager.widget.viewpager&gt; <br/>
                        &lt;/android.widget.framelayout&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                      &lt;/android.view.viewgroup&gt; <br/>
                     &lt;/android.view.viewgroup&gt; <br/>
                    &lt;/android.view.viewgroup&gt; <br/>
                   &lt;/android.view.viewgroup&gt; <br/>
                  &lt;/android.view.viewgroup&gt; <br/>
                 &lt;/android.view.viewgroup&gt; <br/>
                &lt;/android.view.viewgroup&gt; <br/>
               &lt;/android.view.viewgroup&gt; <br/>
              &lt;/android.view.viewgroup&gt; <br/>
             &lt;/android.view.viewgroup&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.framelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.linearlayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>