<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2137"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
      &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" resource-id="com.skyairline:id/action_bar_root" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
        &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
             &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
              &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true" /&gt; <br/>
              &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                 &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                  &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                   &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true" /&gt; <br/>
                   &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                    &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                      &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2137]" displayed="true"&gt; <br/>
                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true" /&gt; <br/>
                          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                             &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,2075]" displayed="true"&gt; <br/>
                              &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,85][1080,235]" displayed="true"&gt; <br/>
                               &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[447,126][633,195]" displayed="true" /&gt; <br/>
                              &lt;/android.view.viewgroup&gt; <br/>
                              &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,235][1080,2075]" displayed="true"&gt; <br/>
                               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,235][1080,310]" displayed="true"&gt; <br/>
                                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,235][370,310]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Buscar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,235][370,292]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[370,235][710,310]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Recientes" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[370,235][710,292]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[710,235][1050,310]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Destinos" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[710,235][1050,292]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                               &lt;/android.view.viewgroup&gt; <br/>
                               &lt;android.widget.framelayout index="1" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                &lt;androidx.viewpager.widget.viewpager index="0" package="com.skyairline" class="androidx.viewpager.widget.ViewPager" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                 &lt;androidx.recyclerview.widget.recyclerview index="0" package="com.skyairline" class="androidx.recyclerview.widget.RecyclerView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                  &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                   &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                    &lt;android.widget.scrollview index="0" package="com.skyairline" class="android.widget.ScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,2075]" displayed="true"&gt; <br/>
                                      &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,430][1050,1105]" displayed="true"&gt; <br/>
                                       &lt;android.widget.horizontalscrollview index="0" package="com.skyairline" class="android.widget.HorizontalScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[69,469][1011,1009]" displayed="true"&gt; <br/>
                                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,469][1011,1009]" displayed="true"&gt; <br/>
                                         &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,469][1011,1009]" displayed="true"&gt; <br/>
                                          &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,469][1011,1009]" displayed="true" /&gt; <br/>
                                         &lt;/android.view.viewgroup&gt; <br/>
                                        &lt;/android.view.viewgroup&gt; <br/>
                                       &lt;/android.widget.horizontalscrollview&gt; <br/>
                                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[375,1024][417,1066]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[447,1024][489,1066]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[519,1024][561,1066]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[591,1024][633,1066]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="5" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[663,1024][705,1066]" displayed="true" /&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1153][1050,1581]" displayed="true"&gt; <br/>
                                       &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1259][129,1301]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1192][975,1322]" displayed="true"&gt; <br/>
                                        &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Vuelo desde" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1192][382,1249]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Lima" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1249][936,1322]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.imageview index="2" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[936,1238][975,1277]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                       &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1364][975,1370]" displayed="true" /&gt; <br/>
                                       &lt;android.widget.imageview index="3" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1436][120,1475]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1412][975,1542]" displayed="true"&gt; <br/>
                                        &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Vuelo hacia" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1412][369,1469]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="¿Dónde quieres ir?" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,1469][936,1542]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.imageview index="2" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[936,1458][975,1497]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1674][1050,2075]" displayed="true"&gt; <br/>
                                       &lt;android.widget.horizontalscrollview index="0" package="com.skyairline" class="android.widget.HorizontalScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[69,1713][1011,2013]" displayed="true"&gt; <br/>
                                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1713][1011,2013]" displayed="true"&gt; <br/>
                                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1713][1011,2013]" displayed="true"&gt; <br/>
                                          &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1713][1011,2013]" displayed="true" /&gt; <br/>
                                         &lt;/android.view.viewgroup&gt; <br/>
                                        &lt;/android.view.viewgroup&gt; <br/>
                                       &lt;/android.widget.horizontalscrollview&gt; <br/>
                                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[339,2028][381,2070]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[411,2028][453,2070]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[483,2028][525,2070]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[555,2028][597,2070]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="5" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[627,2028][669,2070]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="6" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[699,2028][741,2070]" displayed="true" /&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                     &lt;/android.view.viewgroup&gt; <br/>
                                    &lt;/android.widget.scrollview&gt; <br/>
                                    &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,490]" displayed="true"&gt; <br/>
                                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,490]" displayed="true"&gt; <br/>
                                      &lt;android.view.view index="0" package="com.skyairline" class="android.view.View" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,310][1080,490]" displayed="true" /&gt; <br/>
                                      &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Conoce todo sobre nuestra políticas de flexibilidad, para que viajes seguro Aquí" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,340][1050,460]" displayed="true" /&gt; <br/>
                                     &lt;/android.view.viewgroup&gt; <br/>
                                    &lt;/android.view.viewgroup&gt; <br/>
                                   &lt;/android.view.viewgroup&gt; <br/>
                                  &lt;/android.widget.framelayout&gt; <br/>
                                 &lt;/androidx.recyclerview.widget.recyclerview&gt; <br/>
                                &lt;/androidx.viewpager.widget.viewpager&gt; <br/>
                               &lt;/android.widget.framelayout&gt; <br/>
                              &lt;/android.view.viewgroup&gt; <br/>
                             &lt;/android.view.viewgroup&gt; <br/>
                            &lt;/android.view.viewgroup&gt; <br/>
                           &lt;/android.view.viewgroup&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2075][1080,2137]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2075][1080,2137]" displayed="true"&gt; <br/>
                         &lt;android.widget.button index="0" package="com.skyairline" class="android.widget.Button" text="" content-desc="Volar, tab, 1 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2097][270,2137]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2097][270,2137]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[105,2097][165,2137]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Volar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2171][270,2215]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                         &lt;android.widget.button index="1" package="com.skyairline" class="android.widget.Button" text="" content-desc="Mis Vuelos, tab, 2 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,2097][540,2137]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,2097][540,2137]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[371,2097][440,2137]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Mis Vuelos" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,2171][540,2215]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                         &lt;android.widget.button index="2" package="com.skyairline" class="android.widget.Button" text="" content-desc="Perfil, tab, 3 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2097][810,2137]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2097][810,2137]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[635,2097][704,2137]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Perfil" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2171][810,2215]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                         &lt;android.widget.button index="3" package="com.skyairline" class="android.widget.Button" text="" content-desc="Más, tab, 4 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[810,2097][1080,2137]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[810,2097][1080,2137]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[911,2097][980,2137]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Más" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[810,2171][1080,2215]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                      &lt;/android.view.viewgroup&gt; <br/>
                     &lt;/android.view.viewgroup&gt; <br/>
                    &lt;/android.view.viewgroup&gt; <br/>
                   &lt;/android.view.viewgroup&gt; <br/>
                  &lt;/android.view.viewgroup&gt; <br/>
                 &lt;/android.view.viewgroup&gt; <br/>
                &lt;/android.view.viewgroup&gt; <br/>
               &lt;/android.view.viewgroup&gt; <br/>
              &lt;/android.view.viewgroup&gt; <br/>
             &lt;/android.view.viewgroup&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
         &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,2002][1050,2137]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,2004][1050,2137]" displayed="true"&gt; <br/>
           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,2005][1050,2137]" displayed="true"&gt; <br/>
            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[66,2044][132,2110]" displayed="true"&gt; <br/>
             &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[72,2050][126,2104]" displayed="true"&gt; <br/>
              &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="5" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[84,2050][114,2104]" displayed="true" /&gt; <br/>
             &lt;/android.view.viewgroup&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
            &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[156,2044][939,2110]" displayed="true"&gt; <br/>
             &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead." checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[183,2044][939,2110]" displayed="true" /&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
            &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[954,2047][1014,2107]" displayed="true"&gt; <br/>
             &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[972,2065][996,2089]" displayed="true" /&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.framelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.linearlayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>