<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="720" height="1528"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
      &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/launcher" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/drag_layer" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
        &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/scrim_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
         &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Lista de apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[342,1184][378,1220]" displayed="true" /&gt; <br/>
        &lt;/android.view.view&gt; <br/>
        &lt;android.widget.relativelayout index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.RelativeLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/apps_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
         &lt;android.support.v7.widget.recyclerview index="0" package="com.google.android.apps.nexuslauncher" class="android.support.v7.widget.RecyclerView" text="" resource-id="com.google.android.apps.nexuslauncher:id/apps_list_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="true" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,90][720,1528]" displayed="true"&gt; <br/>
          &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Appium Settings" content-desc="Appium Settings" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,439][156,669]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Archivos" content-desc="Archivos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[156,439][292,669]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Calculadora" content-desc="Calculadora" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[292,439][428,669]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Calendario" content-desc="Calendario" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[428,439][564,669]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="4" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Cámara" content-desc="Cámara" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[564,439][700,669]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="5" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Chrome" content-desc="Chrome" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,669][156,899]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="6" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Configuración" content-desc="Configuración" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[156,669][292,899]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="7" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Contactos" content-desc="Contactos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[292,669][428,899]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="8" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Fotos" content-desc="Fotos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[428,669][564,899]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="9" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Gmail" content-desc="Gmail" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[564,669][700,899]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="10" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Google" content-desc="Google" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,899][156,1129]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="11" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Google Drive" content-desc="Google Drive" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[156,899][292,1129]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="12" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Maps" content-desc="Maps" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[292,899][428,1129]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="13" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Mensajes" content-desc="Mensajes" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[428,899][564,1129]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="14" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Play Música" content-desc="Play Música" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[564,899][700,1129]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="15" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Play Películas" content-desc="Play Películas" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,1129][156,1359]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="16" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Reloj" content-desc="Reloj" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[156,1129][292,1359]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="17" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="SkyAirline" content-desc="SkyAirline" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[292,1129][428,1359]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="18" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Teléfono" content-desc="Teléfono" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[428,1129][564,1359]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="19" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="WebView Browser Tester" content-desc="WebView Browser Tester" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[564,1129][700,1359]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="20" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="YouTube" content-desc="YouTube" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,1359][156,1528]" displayed="true" /&gt; <br/>
         &lt;/android.support.v7.widget.recyclerview&gt; <br/>
         &lt;android.widget.linearlayout index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/all_apps_header" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,90][720,439]" displayed="true"&gt; <br/>
          &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/prediction_row" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,144][720,439]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Fotos" content-desc="Fotos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,144][156,374]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Maps" content-desc="Maps" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[156,144][292,374]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Gmail" content-desc="Gmail" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[292,144][428,374]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Reloj" content-desc="Reloj" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[428,144][564,374]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="4" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="SkyAirline" content-desc="SkyAirline" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[564,144][700,374]" displayed="true" /&gt; <br/>
          &lt;/android.widget.linearlayout&gt; <br/>
         &lt;/android.widget.linearlayout&gt; <br/>
         &lt;android.widget.framelayout index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" content-desc="Buscar" resource-id="com.google.android.apps.nexuslauncher:id/search_container_all_apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,51][678,135]" displayed="true"&gt; <br/>
          &lt;android.widget.imageview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.ImageView" text="" resource-id="com.google.android.apps.nexuslauncher:id/g_icon" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,75][105,111]" displayed="true" /&gt; <br/>
          &lt;android.view.view index="2" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Búsqueda por voz" resource-id="com.google.android.apps.nexuslauncher:id/mic_icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[585,51][669,135]" displayed="true" /&gt; <br/>
         &lt;/android.widget.framelayout&gt; <br/>
         &lt;android.view.view index="4" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/fast_scroller" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[672,90][720,1528]" displayed="true" /&gt; <br/>
        &lt;/android.widget.relativelayout&gt; <br/>
        &lt;android.widget.scrollview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.ScrollView" text="" resource-id="com.google.android.apps.nexuslauncher:id/workspace" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1495]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[12,0][708,1097]" displayed="true" /&gt; <br/>
        &lt;/android.widget.scrollview&gt; <br/>
        &lt;android.widget.framelayout index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/hotseat" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,210]" displayed="true" /&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.framelayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>