<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="720" height="1528"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
      &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/launcher" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/drag_layer" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
        &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/scrim_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
         &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Lista de apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[342,1184][378,1220]" displayed="true" /&gt; <br/>
        &lt;/android.view.view&gt; <br/>
        &lt;android.widget.scrollview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.ScrollView" text="" resource-id="com.google.android.apps.nexuslauncher:id/workspace" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[12,48][708,1202]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" resource-id="com.google.android.apps.nexuslauncher:id/workspace_page_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[20,48][700,1202]" displayed="true"&gt; <br/>
           &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/search_container_workspace" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,48][700,278]" displayed="true"&gt; <br/>
            &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/smartspace_content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[209,48][510,278]" displayed="true"&gt; <br/>
             &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Miércoles, 13 jul." content-desc="Miércoles, 13 jul." resource-id="com.google.android.apps.nexuslauncher:id/clock" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[209,48][510,278]" displayed="true" /&gt; <br/>
            &lt;/android.widget.linearlayout&gt; <br/>
           &lt;/android.widget.framelayout&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.scrollview&gt; <br/>
        &lt;android.view.view index="2" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/page_indicator" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1184][720,1220]" displayed="true" /&gt; <br/>
        &lt;android.widget.framelayout index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/hotseat" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1220][720,1528]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" resource-id="com.google.android.apps.nexuslauncher:id/layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1220][720,1528]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[20,1220][700,1325]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Teléfono" content-desc="Teléfono" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[20,1220][156,1325]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Mensajes" content-desc="Mensajes" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[156,1220][292,1325]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Chrome" content-desc="Chrome" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[428,1220][564,1325]" displayed="true" /&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
         &lt;android.widget.framelayout index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" content-desc="Buscar" resource-id="com.google.android.apps.nexuslauncher:id/search_container_hotseat" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,1441][678,1525]" displayed="true"&gt; <br/>
          &lt;android.widget.imageview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.ImageView" text="" resource-id="com.google.android.apps.nexuslauncher:id/g_icon" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1465][105,1501]" displayed="true" /&gt; <br/>
          &lt;android.view.view index="2" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Búsqueda por voz" resource-id="com.google.android.apps.nexuslauncher:id/mic_icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[585,1441][669,1525]" displayed="true" /&gt; <br/>
         &lt;/android.widget.framelayout&gt; <br/>
        &lt;/android.widget.framelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.framelayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>