<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2256"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
      &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" resource-id="com.skyairline:id/action_bar_root" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
        &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
             &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
              &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true" /&gt; <br/>
              &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                 &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                  &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                   &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true" /&gt; <br/>
                   &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                    &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                      &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2256]" displayed="true"&gt; <br/>
                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                         &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true" /&gt; <br/>
                          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                            &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                             &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,2109]" displayed="true"&gt; <br/>
                              &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,72][1080,222]" displayed="true"&gt; <br/>
                               &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[447,113][633,182]" displayed="true" /&gt; <br/>
                              &lt;/android.view.viewgroup&gt; <br/>
                              &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,222][1080,2109]" displayed="true"&gt; <br/>
                               &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,222][1080,297]" displayed="true"&gt; <br/>
                                &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="Buscar" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,222][370,297]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Buscar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,222][370,279]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="Recientes" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[370,222][710,297]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Recientes" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[370,222][710,279]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                                &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" content-desc="Destinos" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[710,222][1050,297]" displayed="true"&gt; <br/>
                                 &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Destinos" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[710,222][1050,279]" displayed="true" /&gt; <br/>
                                &lt;/android.view.viewgroup&gt; <br/>
                               &lt;/android.view.viewgroup&gt; <br/>
                               &lt;android.widget.framelayout index="1" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                &lt;androidx.viewpager.widget.viewpager index="0" package="com.skyairline" class="androidx.viewpager.widget.ViewPager" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                 &lt;androidx.recyclerview.widget.recyclerview index="0" package="com.skyairline" class="androidx.recyclerview.widget.RecyclerView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                  &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                   &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                    &lt;android.widget.scrollview index="0" package="com.skyairline" class="android.widget.ScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,2109]" displayed="true"&gt; <br/>
                                      &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,297][1050,479]" displayed="true"&gt; <br/>
                                       &lt;android.widget.imageview index="3" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,334][120,373]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,310][975,440]" displayed="true"&gt; <br/>
                                        &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Vuelo hacia" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,310][369,367]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Antofagasta" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[153,367][936,440]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.imageview index="2" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[936,356][975,395]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,497][1050,705]" displayed="true"&gt; <br/>
                                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,536][1011,666]" displayed="true"&gt; <br/>
                                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,536][1011,666]" displayed="true"&gt; <br/>
                                         &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,536][111,578]" displayed="true" /&gt; <br/>
                                         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Fecha" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[134,536][247,593]" displayed="true" /&gt; <br/>
                                         &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="15 Jul 2022" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,593][972,666]" displayed="true" /&gt; <br/>
                                         &lt;android.widget.imageview index="3" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[972,582][1011,621]" displayed="true" /&gt; <br/>
                                        &lt;/android.view.viewgroup&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,723][1050,931]" displayed="true"&gt; <br/>
                                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,762][975,892]" displayed="true"&gt; <br/>
                                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,762][103,811]" displayed="true"&gt; <br/>
                                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,762][103,811]" displayed="true"&gt; <br/>
                                          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,762][103,811]" displayed="true" /&gt; <br/>
                                         &lt;/android.view.viewgroup&gt; <br/>
                                        &lt;/android.view.viewgroup&gt; <br/>
                                        &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Pasajeros" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[126,762][313,819]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="1 Adulto" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,819][936,892]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.imageview index="3" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[936,808][975,847]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[90,1009][990,1179]" displayed="true"&gt; <br/>
                                       &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Buscar vuelo" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[90,1060][990,1128]" displayed="true" /&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="5" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1254][1050,1689]" displayed="true"&gt; <br/>
                                       &lt;android.widget.horizontalscrollview index="0" package="com.skyairline" class="android.widget.HorizontalScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[69,1293][1011,1593]" displayed="true"&gt; <br/>
                                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1293][1011,1593]" displayed="true"&gt; <br/>
                                         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1293][1011,1593]" displayed="true"&gt; <br/>
                                          &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1293][1011,1593]" displayed="true" /&gt; <br/>
                                         &lt;/android.view.viewgroup&gt; <br/>
                                        &lt;/android.view.viewgroup&gt; <br/>
                                       &lt;/android.widget.horizontalscrollview&gt; <br/>
                                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[339,1608][381,1650]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[411,1608][453,1650]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[483,1608][525,1650]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[555,1608][597,1650]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="5" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[627,1608][669,1650]" displayed="true" /&gt; <br/>
                                       &lt;android.view.viewgroup index="6" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[699,1608][741,1650]" displayed="true" /&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="6" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1722][1050,1862]" displayed="true"&gt; <br/>
                                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1761][1011,1823]" displayed="true"&gt; <br/>
                                        &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1764][134,1821]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Compra una giftcard" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[177,1768][951,1817]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[951,1761][1011,1823]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="7" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1895][1050,2035]" displayed="true"&gt; <br/>
                                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1934][1011,1996]" displayed="true"&gt; <br/>
                                        &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,1943][147,1988]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="¿Dudas con voucher?" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[177,1941][951,1990]" displayed="true" /&gt; <br/>
                                        &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[951,1934][1011,1996]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;android.view.viewgroup index="8" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,2068][1050,2109]" displayed="true"&gt; <br/>
                                       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[69,2107][1011,2109]" displayed="true"&gt; <br/>
                                        &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[951,2107][1011,2109]" displayed="true" /&gt; <br/>
                                       &lt;/android.view.viewgroup&gt; <br/>
                                      &lt;/android.view.viewgroup&gt; <br/>
                                     &lt;/android.view.viewgroup&gt; <br/>
                                    &lt;/android.widget.scrollview&gt; <br/>
                                    &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,477]" displayed="true"&gt; <br/>
                                     &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,477]" displayed="true"&gt; <br/>
                                      &lt;android.view.view index="0" package="com.skyairline" class="android.view.View" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,297][1080,477]" displayed="true" /&gt; <br/>
                                      &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Conoce todo sobre nuestra políticas de flexibilidad, para que viajes seguro Aquí" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,327][1050,447]" displayed="true" /&gt; <br/>
                                     &lt;/android.view.viewgroup&gt; <br/>
                                    &lt;/android.view.viewgroup&gt; <br/>
                                   &lt;/android.view.viewgroup&gt; <br/>
                                  &lt;/android.widget.framelayout&gt; <br/>
                                 &lt;/androidx.recyclerview.widget.recyclerview&gt; <br/>
                                &lt;/androidx.viewpager.widget.viewpager&gt; <br/>
                               &lt;/android.widget.framelayout&gt; <br/>
                              &lt;/android.view.viewgroup&gt; <br/>
                             &lt;/android.view.viewgroup&gt; <br/>
                            &lt;/android.view.viewgroup&gt; <br/>
                           &lt;/android.view.viewgroup&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                         &lt;/android.view.viewgroup&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                       &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2109][1080,2256]" displayed="true"&gt; <br/>
                        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2109][1080,2256]" displayed="true"&gt; <br/>
                         &lt;android.widget.button index="0" package="com.skyairline" class="android.widget.Button" text="" content-desc="Volar, tab, 1 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2131][270,2253]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2131][270,2202]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[105,2131][165,2199]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Volar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2205][270,2249]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                         &lt;android.widget.button index="1" package="com.skyairline" class="android.widget.Button" text="" content-desc="Mis Vuelos, tab, 2 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,2131][540,2253]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,2131][540,2202]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[371,2131][440,2199]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Mis Vuelos" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[270,2205][540,2249]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                         &lt;android.widget.button index="2" package="com.skyairline" class="android.widget.Button" text="" content-desc="Perfil, tab, 3 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2131][810,2253]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2131][810,2202]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[635,2131][704,2199]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Perfil" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2205][810,2249]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                         &lt;android.widget.button index="3" package="com.skyairline" class="android.widget.Button" text="" content-desc="Más, tab, 4 of 4" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[810,2131][1080,2253]" displayed="true"&gt; <br/>
                          &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[810,2131][1080,2202]" displayed="true"&gt; <br/>
                           &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[911,2131][980,2199]" displayed="true" /&gt; <br/>
                          &lt;/android.view.viewgroup&gt; <br/>
                          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Más" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[810,2205][1080,2249]" displayed="true" /&gt; <br/>
                         &lt;/android.widget.button&gt; <br/>
                        &lt;/android.view.viewgroup&gt; <br/>
                       &lt;/android.view.viewgroup&gt; <br/>
                      &lt;/android.view.viewgroup&gt; <br/>
                     &lt;/android.view.viewgroup&gt; <br/>
                    &lt;/android.view.viewgroup&gt; <br/>
                   &lt;/android.view.viewgroup&gt; <br/>
                  &lt;/android.view.viewgroup&gt; <br/>
                 &lt;/android.view.viewgroup&gt; <br/>
                &lt;/android.view.viewgroup&gt; <br/>
               &lt;/android.view.viewgroup&gt; <br/>
              &lt;/android.view.viewgroup&gt; <br/>
             &lt;/android.view.viewgroup&gt; <br/>
            &lt;/android.view.viewgroup&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.framelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.linearlayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>