<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2028"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
      &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/launcher" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/drag_layer" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
        &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/scrim_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
         &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Apps list" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[507,1531][573,1597]" displayed="true" /&gt; <br/>
        &lt;/android.view.view&gt; <br/>
        &lt;android.widget.scrollview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.ScrollView" text="" resource-id="com.google.android.apps.nexuslauncher:id/workspace" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2028]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[22,88][1058,1564]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[38,88][1042,1564]" displayed="true"&gt; <br/>
           &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/search_container_workspace" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[38,88][1042,383]" displayed="true"&gt; <br/>
            &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/smartspace_content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[288,88][792,383]" displayed="true"&gt; <br/>
             &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Tuesday, Jul 19" content-desc="Tuesday, Jul 19" resource-id="com.google.android.apps.nexuslauncher:id/clock" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[288,88][792,383]" displayed="true" /&gt; <br/>
            &lt;/android.widget.linearlayout&gt; <br/>
           &lt;/android.widget.framelayout&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.scrollview&gt; <br/>
        &lt;android.view.view index="2" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/page_indicator" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1531][1080,1597]" displayed="true" /&gt; <br/>
        &lt;android.view.viewgroup index="3" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" resource-id="com.google.android.apps.nexuslauncher:id/hotseat" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1597][1080,2028]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[38,1597][1042,1812]" displayed="true"&gt; <br/>
          &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Phone" content-desc="Phone" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[38,1597][239,1812]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Messages" content-desc="Messages" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[239,1597][440,1812]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Play Store" content-desc="Play Store" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[440,1597][641,1812]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Chrome" content-desc="Chrome" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[641,1597][842,1812]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="4" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Camera" content-desc="Camera" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[842,1597][1042,1812]" displayed="true" /&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.view.viewgroup&gt; <br/>
        &lt;android.widget.relativelayout index="4" package="com.google.android.apps.nexuslauncher" class="android.widget.RelativeLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/apps_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1781][1080,2028]" displayed="true"&gt; <br/>
         &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/all_apps_header" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1946][1080,2028]" displayed="true" /&gt; <br/>
         &lt;android.widget.framelayout index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" content-desc="Search" resource-id="com.google.android.apps.nexuslauncher:id/search_container_all_apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[52,1875][1028,2028]" displayed="true"&gt; <br/>
          &lt;android.widget.imageview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.ImageView" text="" resource-id="com.google.android.apps.nexuslauncher:id/g_icon" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[104,1919][170,1985]" displayed="true" /&gt; <br/>
          &lt;android.widget.edittext index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.EditText" text="Search apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[201,1892][879,2012]" displayed="true" /&gt; <br/>
         &lt;/android.widget.framelayout&gt; <br/>
        &lt;/android.widget.relativelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.framelayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>