<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2137"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.huawei.android.launcher" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.huawei.android.launcher" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
      &lt;android.widget.framelayout index="0" package="com.huawei.android.launcher" class="android.widget.FrameLayout" text="" resource-id="com.huawei.android.launcher:id/launcher_root_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.huawei.android.launcher" class="android.widget.FrameLayout" text="" resource-id="com.huawei.android.launcher:id/drag_layer" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
        &lt;android.view.viewgroup index="0" package="com.huawei.android.launcher" class="android.view.ViewGroup" text="" content-desc="Pantalla 1 de 2" resource-id="com.huawei.android.launcher:id/workspace" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.huawei.android.launcher" class="android.view.ViewGroup" text="" resource-id="com.huawei.android.launcher:id/workspace_screen" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[0,0][1080,1957]" displayed="true"&gt; <br/>
          &lt;android.widget.framelayout index="0" package="com.huawei.android.launcher" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,0][1044,1939]" displayed="true" /&gt; <br/>
          &lt;android.view.viewgroup index="1" package="com.huawei.android.launcher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,0][1044,1939]" displayed="true"&gt; <br/>
           &lt;android.appwidget.appwidgethostview index="0" package="com.huawei.android.launcher" class="android.appwidget.AppWidgetHostView" text="" content-desc="Clima" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[36,97][1044,404]" displayed="true"&gt; <br/>
            &lt;android.widget.relativelayout index="0" package="com.huawei.android.totemweather" class="android.widget.RelativeLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,97][1044,404]" displayed="true"&gt; <br/>
             &lt;android.widget.relativelayout index="0" package="com.huawei.android.totemweather" class="android.widget.RelativeLayout" text="" content-desc="10:53 a. m., Viernes, 5 de agosto, ItagüíUbicación actual, Parcialmente soleado, temperatura actual: 22°C, Máxima para hoy: 26 °, mínima para hoy: 17 °" resource-id="com.huawei.android.totemweather:id/widget_home" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,97][1044,404]" displayed="true"&gt; <br/>
              &lt;android.widget.relativelayout index="0" package="com.huawei.android.totemweather" class="android.widget.RelativeLayout" text="" resource-id="com.huawei.android.totemweather:id/widget_container" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,106][1044,394]" displayed="true"&gt; <br/>
               &lt;android.widget.linearlayout index="1" package="com.huawei.android.totemweather" class="android.widget.LinearLayout" text="" resource-id="com.huawei.android.totemweather:id/main_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[72,136][1026,323]" displayed="true"&gt; <br/>
                &lt;android.widget.linearlayout index="0" package="com.huawei.android.totemweather" class="android.widget.LinearLayout" text="" resource-id="com.huawei.android.totemweather:id/time_display_and_city_name_layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[72,136][755,323]" displayed="true"&gt; <br/>
                 &lt;android.widget.linearlayout index="0" package="com.huawei.android.totemweather" class="android.widget.LinearLayout" text="" content-desc="10:53" resource-id="com.huawei.android.totemweather:id/time_display" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[72,136][511,323]" displayed="true"&gt; <br/>
                  &lt;android.widget.textview index="0" package="com.huawei.android.totemweather" class="android.widget.TextView" text="10:53" resource-id="com.huawei.android.totemweather:id/widget_time_hour" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[72,136][511,323]" displayed="true" /&gt; <br/>
                 &lt;/android.widget.linearlayout&gt; <br/>
                 &lt;android.widget.linearlayout index="1" package="com.huawei.android.totemweather" class="android.widget.LinearLayout" text="" resource-id="com.huawei.android.totemweather:id/city_name_layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[469,212][602,296]" displayed="true"&gt; <br/>
                  &lt;android.widget.textview index="0" package="com.huawei.android.totemweather" class="android.widget.TextView" text="a. m." content-desc="a. m." resource-id="com.huawei.android.totemweather:id/widget_time_timeformat" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[469,212][534,247]" displayed="true" /&gt; <br/>
                  &lt;android.widget.textview index="1" package="com.huawei.android.totemweather" class="android.widget.TextView" text="Itagüí" content-desc="ItagüíUbicación actual" resource-id="com.huawei.android.totemweather:id/widget_city_name" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[469,247][602,296]" displayed="true" /&gt; <br/>
                 &lt;/android.widget.linearlayout&gt; <br/>
                &lt;/android.widget.linearlayout&gt; <br/>
                &lt;android.widget.linearlayout index="1" package="com.huawei.android.totemweather" class="android.widget.LinearLayout" text="" content-desc=", , , Parcialmente soleado, temperatura actual: 22°C, Máxima para hoy: 26 °, mínima para hoy: 17 °" resource-id="com.huawei.android.totemweather:id/widget_app_temperature_icon" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[755,173][1026,293]" displayed="true"&gt; <br/>
                 &lt;android.widget.imageview index="0" package="com.huawei.android.totemweather" class="android.widget.ImageView" text="" content-desc="Parcialmente soleado" resource-id="com.huawei.android.totemweather:id/widget_currentweather_smallicon" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[755,173][875,293]" displayed="true" /&gt; <br/>
                 &lt;android.widget.linearlayout index="1" package="com.huawei.android.totemweather" class="android.widget.LinearLayout" text="" resource-id="com.huawei.android.totemweather:id/include_widget_temperature" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[887,174][1026,293]" displayed="true"&gt; <br/>
                  &lt;android.widget.relativelayout index="0" package="com.huawei.android.totemweather" class="android.widget.RelativeLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[887,174][979,251]" displayed="true"&gt; <br/>
                   &lt;android.widget.textview index="0" package="com.huawei.android.totemweather" class="android.widget.TextView" text="22" content-desc="22" resource-id="com.huawei.android.totemweather:id/widget_current_temperature" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[887,174][961,251]" displayed="true" /&gt; <br/>
                   &lt;android.widget.textview index="1" package="com.huawei.android.totemweather" class="android.widget.TextView" text="°" resource-id="com.huawei.android.totemweather:id/widget_current_temperature_unit" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[961,177][979,234]" displayed="true" /&gt; <br/>
                  &lt;/android.widget.relativelayout&gt; <br/>
                  &lt;android.widget.textview index="1" package="com.huawei.android.totemweather" class="android.widget.TextView" text="26° / 17°" content-desc="Máxima para hoy: 26 °, mínima para hoy: 17 °" resource-id="com.huawei.android.totemweather:id/widget_highlow_temperature" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[887,251][1026,293]" displayed="true" /&gt; <br/>
                 &lt;/android.widget.linearlayout&gt; <br/>
                &lt;/android.widget.linearlayout&gt; <br/>
               &lt;/android.widget.linearlayout&gt; <br/>
               &lt;android.widget.textview index="3" package="com.huawei.android.totemweather" class="android.widget.TextView" text="Viernes, 5 de agosto" content-desc="Viernes, 5 de agosto" resource-id="com.huawei.android.totemweather:id/widget_city_date" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,299][544,394]" displayed="true" /&gt; <br/>
              &lt;/android.widget.relativelayout&gt; <br/>
             &lt;/android.widget.relativelayout&gt; <br/>
            &lt;/android.widget.relativelayout&gt; <br/>
           &lt;/android.appwidget.appwidgethostview&gt; <br/>
           &lt;android.widget.linearlayout index="1" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" content-desc="Carpeta Work" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[36,404][288,711]" displayed="true"&gt; <br/>
            &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/preview_background" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[77,434][247,604]" displayed="true" /&gt; <br/>
            &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="Work" resource-id="com.huawei.android.launcher:id/folder_icon_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[42,613][282,711]" displayed="true" /&gt; <br/>
           &lt;/android.widget.linearlayout&gt; <br/>
           &lt;android.widget.linearlayout index="2" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" content-desc="Carpeta: Movistar" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[288,404][540,711]" displayed="true"&gt; <br/>
            &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/preview_background" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[329,434][499,604]" displayed="true" /&gt; <br/>
            &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="Movistar" resource-id="com.huawei.android.launcher:id/folder_icon_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[294,613][534,711]" displayed="true" /&gt; <br/>
           &lt;/android.widget.linearlayout&gt; <br/>
           &lt;android.widget.textview index="3" package="com.huawei.android.launcher" class="android.widget.TextView" text="Samsung remote" content-desc="Samsung remote" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[540,404][792,711]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="4" package="com.huawei.android.launcher" class="android.widget.TextView" text="Tasks" content-desc="Tasks" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[792,404][1044,711]" displayed="true" /&gt; <br/>
           &lt;android.widget.linearlayout index="5" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" content-desc="Carpeta: Carro" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[36,711][288,1018]" displayed="true"&gt; <br/>
            &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/preview_background" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[77,741][247,911]" displayed="true" /&gt; <br/>
            &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="Carro" resource-id="com.huawei.android.launcher:id/folder_icon_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[42,920][282,1018]" displayed="true" /&gt; <br/>
           &lt;/android.widget.linearlayout&gt; <br/>
           &lt;android.widget.linearlayout index="6" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" content-desc="Carpeta: Multimedia" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[288,711][540,1018]" displayed="true"&gt; <br/>
            &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/preview_background" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[329,741][499,911]" displayed="true" /&gt; <br/>
            &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="Multimedia" resource-id="com.huawei.android.launcher:id/folder_icon_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[294,920][534,1018]" displayed="true" /&gt; <br/>
           &lt;/android.widget.linearlayout&gt; <br/>
           &lt;android.widget.linearlayout index="7" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" content-desc="Carpeta: Google" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[540,711][792,1018]" displayed="true"&gt; <br/>
            &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/preview_background" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[581,741][751,911]" displayed="true" /&gt; <br/>
            &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="Google" resource-id="com.huawei.android.launcher:id/folder_icon_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[546,920][786,1018]" displayed="true" /&gt; <br/>
           &lt;/android.widget.linearlayout&gt; <br/>
           &lt;android.widget.textview index="8" package="com.huawei.android.launcher" class="android.widget.TextView" text="Galería" content-desc="Galería" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[792,711][1044,1018]" displayed="true" /&gt; <br/>
           &lt;android.appwidget.appwidgethostview index="9" package="com.huawei.android.launcher" class="android.appwidget.AppWidgetHostView" text="" content-desc="Buscar" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[36,1018][1044,1325]" displayed="true"&gt; <br/>
            &lt;android.widget.framelayout index="0" package="com.google.android.googlequicksearchbox" class="android.widget.FrameLayout" text="" resource-id="com.google.android.googlequicksearchbox:id/default_search_widget" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,1075][1020,1267]" displayed="true"&gt; <br/>
             &lt;android.widget.framelayout index="0" package="com.google.android.googlequicksearchbox" class="android.widget.FrameLayout" text="" resource-id="com.google.android.googlequicksearchbox:id/search_plate_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1098][997,1244]" displayed="true"&gt; <br/>
              &lt;android.widget.imageview index="0" package="com.google.android.googlequicksearchbox" class="android.widget.ImageView" text="" resource-id="com.google.android.googlequicksearchbox:id/search_widget_background_protection" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1098][997,1244]" displayed="true" /&gt; <br/>
              &lt;android.widget.imageview index="1" package="com.google.android.googlequicksearchbox" class="android.widget.ImageView" text="" content-desc="Búsqueda de Google" resource-id="com.google.android.googlequicksearchbox:id/search_widget_background" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1098][997,1244]" displayed="true" /&gt; <br/>
              &lt;android.widget.linearlayout index="2" package="com.google.android.googlequicksearchbox" class="android.widget.LinearLayout" text="" resource-id="com.google.android.googlequicksearchbox:id/search_plate" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1098][997,1244]" displayed="true"&gt; <br/>
               &lt;android.widget.framelayout index="0" package="com.google.android.googlequicksearchbox" class="android.widget.FrameLayout" text="" content-desc="Búsqueda de Google" resource-id="com.google.android.googlequicksearchbox:id/search_widget_google_logo" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1098][227,1244]" displayed="true"&gt; <br/>
                &lt;android.widget.imageview index="0" package="com.google.android.googlequicksearchbox" class="android.widget.ImageView" text="" resource-id="com.google.android.googlequicksearchbox:id/search_widget_super_g" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[83,1098][227,1244]" displayed="true" /&gt; <br/>
               &lt;/android.widget.framelayout&gt; <br/>
               &lt;android.widget.framelayout index="1" package="com.google.android.googlequicksearchbox" class="android.widget.FrameLayout" text="" resource-id="com.google.android.googlequicksearchbox:id/search_edit_frame" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[227,1098][697,1244]" displayed="true"&gt; <br/>
                &lt;android.widget.viewflipper index="0" package="com.google.android.googlequicksearchbox" class="android.widget.ViewFlipper" text="" resource-id="com.google.android.googlequicksearchbox:id/hint_flipper" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[227,1098][697,1244]" displayed="true"&gt; <br/>
                 &lt;android.widget.linearlayout index="0" package="com.google.android.googlequicksearchbox" class="android.widget.LinearLayout" text="" resource-id="com.google.android.googlequicksearchbox:id/hint_text_alignment" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[227,1098][697,1244]" displayed="true" /&gt; <br/>
                &lt;/android.widget.viewflipper&gt; <br/>
               &lt;/android.widget.framelayout&gt; <br/>
               &lt;android.widget.linearlayout index="2" package="com.google.android.googlequicksearchbox" class="android.widget.LinearLayout" text="" resource-id="com.google.android.googlequicksearchbox:id/search_widget_dynamic_icon_container" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[697,1098][985,1244]" displayed="true"&gt; <br/>
                &lt;android.widget.imagebutton index="0" package="com.google.android.googlequicksearchbox" class="android.widget.ImageButton" text="" content-desc="Búsqueda por voz" resource-id="com.google.android.googlequicksearchbox:id/search_widget_dynamic_left_icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[697,1098][841,1244]" displayed="true" /&gt; <br/>
                &lt;android.widget.imagebutton index="1" package="com.google.android.googlequicksearchbox" class="android.widget.ImageButton" text="" content-desc="Google&nbsp;Lens" resource-id="com.google.android.googlequicksearchbox:id/search_widget_dynamic_right_icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[841,1098][985,1244]" displayed="true" /&gt; <br/>
               &lt;/android.widget.linearlayout&gt; <br/>
              &lt;/android.widget.linearlayout&gt; <br/>
             &lt;/android.widget.framelayout&gt; <br/>
            &lt;/android.widget.framelayout&gt; <br/>
           &lt;/android.appwidget.appwidgethostview&gt; <br/>
           &lt;android.widget.textview index="10" package="com.huawei.android.launcher" class="android.widget.TextView" text="Mensajes" content-desc="Mensajes; 1163 notificaciones" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[36,1325][288,1632]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="11" package="com.huawei.android.launcher" class="android.widget.TextView" text="Rappi" content-desc="Rappi" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[288,1325][540,1632]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="12" package="com.huawei.android.launcher" class="android.widget.TextView" text="Instagram" content-desc="Instagram; 3 notificaciones" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[540,1325][792,1632]" displayed="true" /&gt; <br/>
           &lt;android.widget.linearlayout index="13" package="com.huawei.android.launcher" class="android.widget.LinearLayout" text="" content-desc="Carpeta: Acid" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[792,1325][1044,1632]" displayed="true"&gt; <br/>
            &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/preview_background" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[833,1355][1003,1525]" displayed="true" /&gt; <br/>
            &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="Acid" resource-id="com.huawei.android.launcher:id/folder_icon_name" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[798,1534][1038,1632]" displayed="true" /&gt; <br/>
           &lt;/android.widget.linearlayout&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
          &lt;android.widget.relativelayout index="2" package="com.huawei.android.launcher" class="android.widget.RelativeLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,0][1044,1939]" displayed="true" /&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.view.viewgroup&gt; <br/>
        &lt;android.widget.imageview index="1" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" resource-id="com.huawei.android.launcher:id/dock_divider" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1947][1080,2031]" displayed="true" /&gt; <br/>
        &lt;android.widget.framelayout index="2" package="com.huawei.android.launcher" class="android.widget.FrameLayout" text="" resource-id="com.huawei.android.launcher:id/hotseat" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1987][1080,2137]" displayed="true"&gt; <br/>
         &lt;android.widget.imageview index="0" package="com.huawei.android.launcher" class="android.widget.ImageView" text="" content-desc="Aplicaciones del dock" resource-id="com.huawei.android.launcher:id/bg_dock" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1987][1080,2137]" displayed="true" /&gt; <br/>
         &lt;android.view.viewgroup index="1" package="com.huawei.android.launcher" class="android.view.ViewGroup" text="" resource-id="com.huawei.android.launcher:id/layout" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1,1987][1078,2137]" displayed="true"&gt; <br/>
          &lt;android.view.viewgroup index="0" package="com.huawei.android.launcher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[37,1987][1042,2137]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.huawei.android.launcher" class="android.widget.TextView" text="" content-desc="Teléfono" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[37,1987][238,2137]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.huawei.android.launcher" class="android.widget.TextView" text="" content-desc="WhatsApp; 18 notificaciones" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[238,1987][439,2137]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="2" package="com.huawei.android.launcher" class="android.widget.TextView" text="" content-desc="Contactos" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[439,1987][640,2137]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="3" package="com.huawei.android.launcher" class="android.widget.TextView" text="" content-desc="Cámara" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[640,1987][841,2137]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="4" package="com.huawei.android.launcher" class="android.widget.TextView" text="" content-desc="Chrome" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[841,1987][1042,2137]" displayed="true" /&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.framelayout&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.framelayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>