<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2137"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
      &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
       &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2137]" displayed="true"&gt; <br/>
        &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,229]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[18,100][135,217]" displayed="true"&gt; <br/>
          &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[65,138][89,180]" displayed="true" /&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Log 3 of 3" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[433,129][647,186]" displayed="true" /&gt; <br/>
         &lt;android.view.viewgroup index="2" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[945,100][1062,217]" displayed="true"&gt; <br/>
          &lt;android.widget.imageview index="0" package="com.skyairline" class="android.widget.ImageView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[992,138][1016,180]" displayed="true" /&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.view.viewgroup&gt; <br/>
        &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,229][1080,628]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Warning" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,259][1044,343]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="registerHeadlessTask or registerCancellableHeadlessTask called multiple times for same key 'ReactNativeFirebaseMessagingHeadlessTask'" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,358][1080,628]" displayed="true" /&gt; <br/>
        &lt;/android.view.viewgroup&gt; <br/>
        &lt;android.widget.scrollview index="2" package="com.skyairline" class="android.widget.ScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,628][1080,2078]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,628][1080,2078]" displayed="true"&gt; <br/>
          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Source" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,673][1044,733]" displayed="true" /&gt; <br/>
          &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,778][1050,1507]" displayed="true"&gt; <br/>
           &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,778][1050,1261]" displayed="true"&gt; <br/>
            &lt;android.widget.horizontalscrollview index="0" package="com.skyairline" class="android.widget.HorizontalScrollView" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[60,808][1020,1228]" displayed="true"&gt; <br/>
             &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,808][1020,1228]" displayed="true"&gt; <br/>
              &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,808][82,868]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text=" 195 |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,808][214,868]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,868][82,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="3" package="com.skyairline" class="android.widget.TextView" text=" 196 |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,868][214,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="4" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[214,868][236,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="5" package="com.skyairline" class="android.widget.TextView" text="export" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[236,868][368,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="6" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[368,868][390,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="7" package="com.skyairline" class="android.widget.TextView" text="function" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[390,868][566,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="8" package="com.skyairline" class="android.widget.TextView" text=" addLog(log" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[566,868][808,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="9" package="com.skyairline" class="android.widget.TextView" text=":" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[808,868][830,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="10" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[830,868][852,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="11" package="com.skyairline" class="android.widget.TextView" text="LogData" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[852,868][1006,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="12" package="com.skyairline" class="android.widget.TextView" text=")" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[1006,868][1020,928]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="17" package="com.skyairline" class="android.widget.TextView" text="&gt;" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,928][82,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="18" package="com.skyairline" class="android.widget.TextView" text=" 197 |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,928][214,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="19" package="com.skyairline" class="android.widget.TextView" text="   " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[214,928][280,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="20" package="com.skyairline" class="android.widget.TextView" text="const" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[280,928][390,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="21" package="com.skyairline" class="android.widget.TextView" text=" errorForStackTrace " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[390,928][830,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="22" package="com.skyairline" class="android.widget.TextView" text="=" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[830,928][852,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="23" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[852,928][874,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="24" package="com.skyairline" class="android.widget.TextView" text="new" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[874,928][940,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="25" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[940,928][962,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="26" package="com.skyairline" class="android.widget.TextView" text="Error" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[962,928][1020,988]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="29" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,988][82,1048]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="30" package="com.skyairline" class="android.widget.TextView" text="     |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,988][214,1048]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="31" package="com.skyairline" class="android.widget.TextView" text="                              " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[214,988][874,1048]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="32" package="com.skyairline" class="android.widget.TextView" text="^" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[874,988][896,1048]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="33" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,1048][82,1108]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="34" package="com.skyairline" class="android.widget.TextView" text=" 198 |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,1048][214,1108]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="35" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,1108][82,1168]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="36" package="com.skyairline" class="android.widget.TextView" text=" 199 |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,1108][214,1168]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="37" package="com.skyairline" class="android.widget.TextView" text="   " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[214,1108][280,1168]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="38" package="com.skyairline" class="android.widget.TextView" text="// Parsing logs are expensive so we schedule this" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[280,1108][1020,1168]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="39" package="com.skyairline" class="android.widget.TextView" text=" " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[60,1168][82,1228]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="40" package="com.skyairline" class="android.widget.TextView" text=" 200 |" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[82,1168][214,1228]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="41" package="com.skyairline" class="android.widget.TextView" text="   " checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[214,1168][280,1228]" displayed="true" /&gt; <br/>
              &lt;android.widget.textview index="42" package="com.skyairline" class="android.widget.TextView" text="// otherwise spammy logs would pause rendering." checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[280,1168][1020,1228]" displayed="true" /&gt; <br/>
             &lt;/android.view.viewgroup&gt; <br/>
            &lt;/android.widget.horizontalscrollview&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
           &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1261][1050,1507]" displayed="true"&gt; <br/>
            &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="C:\Users\alexi\pruebasLocales\sky2\sky-app\node_modules\react-native\Libraries\LogBox\Data\LogBoxData.js (197:30)" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[30,1291][1050,1477]" displayed="true" /&gt; <br/>
           &lt;/android.view.viewgroup&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
          &lt;android.widget.textview index="2" package="com.skyairline" class="android.widget.TextView" text="Call Stack" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[36,1582][1044,1642]" displayed="true" /&gt; <br/>
          &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[45,1672][1035,1787]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="addLog" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,1684][1005,1733]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="C:\Users\alexi\pruebasLocales\sky2\sky-app\node_modules\react-native\Libraries\LogBox\Data\LogBoxData.js:197:30" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,1733][1005,1775]" displayed="true" /&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
          &lt;android.view.viewgroup index="4" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[45,1787][1035,1902]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="registerWarning" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,1799][1005,1848]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="C:\Users\alexi\pruebasLocales\sky2\sky-app\node_modules\react-native\Libraries\LogBox\LogBox.js:119:11" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,1848][1005,1890]" displayed="true" /&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
          &lt;android.view.viewgroup index="5" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[45,1902][1035,2017]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="warnImpl" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,1914][1005,1963]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="C:\Users\alexi\pruebasLocales\sky2\sky-app\node_modules\react-native\Libraries\LogBox\LogBox.js:63:9" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,1963][1005,2005]" displayed="true" /&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
          &lt;android.view.viewgroup index="6" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[45,2017][1035,2078]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="console.warn" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[75,2029][1005,2078]" displayed="true" /&gt; <br/>
          &lt;/android.view.viewgroup&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.widget.scrollview&gt; <br/>
        &lt;android.view.viewgroup index="3" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2078][1080,2137]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,2078][540,2137]" displayed="true"&gt; <br/>
          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Dismiss" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[195,2120][346,2137]" displayed="true" /&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
         &lt;android.view.viewgroup index="1" package="com.skyairline" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[540,2078][1080,2137]" displayed="true"&gt; <br/>
          &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Minimize" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[725,2120][895,2137]" displayed="true" /&gt; <br/>
         &lt;/android.view.viewgroup&gt; <br/>
        &lt;/android.view.viewgroup&gt; <br/>
       &lt;/android.view.viewgroup&gt; <br/>
      &lt;/android.widget.framelayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>