<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="1080" height="2256"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
      &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/launcher" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
       &lt;android.widget.framelayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/drag_layer" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
        &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/scrim_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
         &lt;android.view.view index="0" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Lista de apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[504,1726][576,1798]" displayed="true" /&gt; <br/>
        &lt;/android.view.view&gt; <br/>
        &lt;android.widget.relativelayout index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.RelativeLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/apps_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2256]" displayed="true"&gt; <br/>
         &lt;android.support.v7.widget.recyclerview index="0" package="com.google.android.apps.nexuslauncher" class="android.support.v7.widget.RecyclerView" text="" resource-id="com.google.android.apps.nexuslauncher:id/apps_list_view" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="true" long-clickable="false" password="false" scrollable="true" selected="false" bounds="[0,180][1080,2256]" displayed="true"&gt; <br/>
          &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Appium Settings" content-desc="Appium Settings" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,750][241,1083]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Archivos" content-desc="Archivos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[241,750][440,1083]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Calculadora" content-desc="Calculadora" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[440,750][640,1083]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Calendario" content-desc="Calendario" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[640,750][839,1083]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="4" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Cámara" content-desc="Cámara" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[839,750][1039,1083]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="5" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Chrome" content-desc="Chrome" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,1083][241,1416]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="6" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Configuración" content-desc="Configuración" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[241,1083][440,1416]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="7" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Contactos" content-desc="Contactos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[440,1083][640,1416]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="8" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Fotos" content-desc="Fotos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[640,1083][839,1416]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="9" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Gmail" content-desc="Gmail" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[839,1083][1039,1416]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="10" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Google" content-desc="Google" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,1416][241,1749]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="11" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Google Drive" content-desc="Google Drive" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[241,1416][440,1749]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="12" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Maps" content-desc="Maps" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[440,1416][640,1749]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="13" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Mensajes" content-desc="Mensajes" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[640,1416][839,1749]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="14" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Play Música" content-desc="Play Música" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[839,1416][1039,1749]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="15" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Play Películas" content-desc="Play Películas" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,1749][241,2082]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="16" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Reloj" content-desc="Reloj" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[241,1749][440,2082]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="17" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="SkyAirline" content-desc="SkyAirline" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[440,1749][640,2082]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="18" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Teléfono" content-desc="Teléfono" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[640,1749][839,2082]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="19" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="WebView Browser Tester" content-desc="WebView Browser Tester" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[839,1749][1039,2082]" displayed="true" /&gt; <br/>
          &lt;android.widget.textview index="20" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="YouTube" content-desc="YouTube" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,2082][241,2256]" displayed="true" /&gt; <br/>
         &lt;/android.support.v7.widget.recyclerview&gt; <br/>
         &lt;android.widget.linearlayout index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/all_apps_header" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,180][1080,750]" displayed="true"&gt; <br/>
          &lt;android.widget.linearlayout index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.LinearLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/prediction_row" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,288][1080,750]" displayed="true"&gt; <br/>
           &lt;android.widget.textview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Fotos" content-desc="Fotos" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[41,288][240,621]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="1" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Maps" content-desc="Maps" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[240,288][439,621]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Gmail" content-desc="Gmail" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[439,288][639,621]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="Reloj" content-desc="Reloj" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[639,288][839,621]" displayed="true" /&gt; <br/>
           &lt;android.widget.textview index="4" package="com.google.android.apps.nexuslauncher" class="android.widget.TextView" text="SkyAirline" content-desc="SkyAirline" resource-id="com.google.android.apps.nexuslauncher:id/icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[839,288][1039,621]" displayed="true" /&gt; <br/>
          &lt;/android.widget.linearlayout&gt; <br/>
         &lt;/android.widget.linearlayout&gt; <br/>
         &lt;android.widget.framelayout index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" content-desc="Buscar" resource-id="com.google.android.apps.nexuslauncher:id/search_container_all_apps" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="true" password="false" scrollable="false" selected="false" bounds="[47,102][1032,270]" displayed="true"&gt; <br/>
          &lt;android.widget.imageview index="0" package="com.google.android.apps.nexuslauncher" class="android.widget.ImageView" text="" resource-id="com.google.android.apps.nexuslauncher:id/g_icon" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[104,150][176,222]" displayed="true" /&gt; <br/>
          &lt;android.view.view index="2" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" content-desc="Búsqueda por voz" resource-id="com.google.android.apps.nexuslauncher:id/mic_icon" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[846,102][1014,270]" displayed="true" /&gt; <br/>
         &lt;/android.widget.framelayout&gt; <br/>
         &lt;android.view.view index="4" package="com.google.android.apps.nexuslauncher" class="android.view.View" text="" resource-id="com.google.android.apps.nexuslauncher:id/fast_scroller" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[984,180][1080,2256]" displayed="true" /&gt; <br/>
        &lt;/android.widget.relativelayout&gt; <br/>
        &lt;android.widget.scrollview index="2" package="com.google.android.apps.nexuslauncher" class="android.widget.ScrollView" text="" resource-id="com.google.android.apps.nexuslauncher:id/workspace" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,2253]" displayed="true"&gt; <br/>
         &lt;android.view.viewgroup index="0" package="com.google.android.apps.nexuslauncher" class="android.view.ViewGroup" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,0][1056,1615]" displayed="true" /&gt; <br/>
        &lt;/android.widget.scrollview&gt; <br/>
        &lt;android.widget.framelayout index="3" package="com.google.android.apps.nexuslauncher" class="android.widget.FrameLayout" text="" resource-id="com.google.android.apps.nexuslauncher:id/hotseat" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][1080,420]" displayed="true" /&gt; <br/>
       &lt;/android.widget.framelayout&gt; <br/>
      &lt;/android.widget.framelayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>