<html lang='en'><head><link href='prism/prism.css' rel='stylesheet' /></head><body><script src='prism/prism.js'></script><body><div><pre><code class='language-html'>&lt;!--?xml version='1.0' encoding='UTF-8' standalone='yes' ?--&gt;<br/>
&lt;html&gt;<br/>
 &lt;head&gt;&lt;/head&gt;<br/>
 &lt;body&gt;<br/>
  &lt;hierarchy index="0" class="hierarchy" rotation="0" width="720" height="1528"&gt; <br/>
   &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
    &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,0][720,1528]" displayed="true"&gt; <br/>
     &lt;android.widget.framelayout index="0" package="com.skyairline" class="android.widget.FrameLayout" text="" resource-id="android:id/content" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,36][720,1528]" displayed="true"&gt; <br/>
      &lt;android.widget.linearlayout index="0" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,36][720,1528]" displayed="true"&gt; <br/>
       &lt;android.widget.listview index="0" package="com.skyairline" class="android.widget.ListView" text="" resource-id="com.skyairline:id/rn_redbox_stack" checkable="false" checked="false" clickable="false" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,36][720,1444]" displayed="true"&gt; <br/>
        &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="Unable to load script. Make sure you're either running a Metro server (run 'react-native start') or that your bundle 'index.android.bundle' is packaged correctly for release." resource-id="com.skyairline:id/catalyst_redbox_title" checkable="false" checked="false" clickable="false" enabled="false" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,36][720,173]" displayed="true" /&gt; <br/>
        &lt;android.widget.linearlayout index="1" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,173][720,251]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="jniLoadScriptFromAssets" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,185][696,214]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="CatalystInstanceImpl.java" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,214][696,239]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="2" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,251][720,329]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="loadScriptFromAssets" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,263][696,292]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="CatalystInstanceImpl.java:234" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,292][696,317]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="3" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,329][720,407]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="loadScript" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,341][696,370]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="JSBundleLoader.java:29" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,370][696,395]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="4" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,407][720,485]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="runJSBundle" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,419][696,448]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="CatalystInstanceImpl.java:258" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,448][696,473]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="5" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,485][720,563]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="createReactContext" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,497][696,526]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="ReactInstanceManager.java:1293" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,526][696,551]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="6" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,563][720,641]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="access$1100" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,575][696,604]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="ReactInstanceManager.java:131" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,604][696,629]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="7" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,641][720,719]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="run" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,653][696,682]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="ReactInstanceManager.java:1016" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,682][696,707]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
        &lt;android.widget.linearlayout index="8" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="true" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,719][720,797]" displayed="true"&gt; <br/>
         &lt;android.widget.textview index="0" package="com.skyairline" class="android.widget.TextView" text="run" resource-id="com.skyairline:id/rn_frame_method" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,731][696,760]" displayed="true" /&gt; <br/>
         &lt;android.widget.textview index="1" package="com.skyairline" class="android.widget.TextView" text="Thread.java:764" resource-id="com.skyairline:id/rn_frame_file" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[24,760][696,785]" displayed="true" /&gt; <br/>
        &lt;/android.widget.linearlayout&gt; <br/>
       &lt;/android.widget.listview&gt; <br/>
       &lt;android.widget.linearlayout index="2" package="com.skyairline" class="android.widget.LinearLayout" text="" checkable="false" checked="false" clickable="false" enabled="true" focusable="false" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[0,1444][720,1528]" displayed="true"&gt; <br/>
        &lt;android.widget.button index="0" package="com.skyairline" class="android.widget.Button" text="DISMISS<br/>
(ESC)" resource-id="com.skyairline:id/rn_redbox_dismiss_button" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[6,1450][354,1522]" displayed="true" /&gt; <br/>
        &lt;android.widget.button index="1" package="com.skyairline" class="android.widget.Button" text="RELOAD<br/>
(R,&nbsp;R)" resource-id="com.skyairline:id/rn_redbox_reload_button" checkable="false" checked="false" clickable="true" enabled="true" focusable="true" focused="false" long-clickable="false" password="false" scrollable="false" selected="false" bounds="[366,1450][714,1522]" displayed="true" /&gt; <br/>
       &lt;/android.widget.linearlayout&gt; <br/>
      &lt;/android.widget.linearlayout&gt; <br/>
     &lt;/android.widget.framelayout&gt; <br/>
    &lt;/android.widget.linearlayout&gt; <br/>
   &lt;/android.widget.framelayout&gt; <br/>
  &lt;/hierarchy&gt;<br/>
 &lt;/body&gt;<br/>
&lt;/html&gt;</code></pre></div></body></html>